@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

input {
  background-color: white !important;
  border: none !important;
  color: black !important;
}

.swal-custom-popup {
  background: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.swal2-success-fix,
.swal2-success-circular-line-left,
.swal2-success-circular-line-right {
  background: transparent;
}
